.container {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.mat-list-item {
  width: 150px;
  padding-bottom: 10px;
  color: white;
  border-color: beige 1px solid;
  margin-left: 0%;
}

.mat-list-item ul {
  list-style-type: none;
}


.mat-card {
  background: rgb(130, 130, 133);
  height: 700px;
  width: 760px;
  color: rgb(116, 110, 110);
}

.mat-card form {
  text-align: center;
  color: white;
}

a:hover {
  cursor: pointer;
}

a:link,
a:visited {
  color: white;
}
