<!--Fill the code-->

<mat-sidenav-container class="example-sidenav-content">
  <mat-sidenav mode="side" opened>
      <mat-list>
          <mat-list-item><a  [routerLink]="['/course']" [queryParams]="{paramFlag:1}">Add Course</a></mat-list-item>
          <mat-list-item><a  [routerLink]="['/course']" [queryParams]="{paramFlag:2}">Update Course</a></mat-list-item>
          <mat-list-item><a  [routerLink]="['/course']" [queryParams]="{paramFlag:3}">View Course By Name</a></mat-list-item>
          <mat-list-item><a  [routerLink]="['/course']" [queryParams]="{paramFlag:4}">Ratings</a></mat-list-item>
      </mat-list>
  </mat-sidenav>
  <mat-sidenav-content class="mat-card">

<div class="mat-card-main">
<h2>Course Management</h2>
<!-- Card content goes here -->

<!-- All  courses -->
<div class="table" *ngIf="paramFlag==null">
  <h2>All Courses</h2>
  <table *ngIf="courses.length > 0">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Fee</th>
      <th>Duration</th>
      <th>Type</th>
    </tr>
    <tr *ngFor="let course of courses">
      <td>{{ course.id }}</td>
      <td>{{ course.name }}</td>
      <td>{{ course.fee }}</td>
      <td>{{ course.duration }}</td>
      <td>{{ course.type }}</td>
    </tr>
  </table>


  <div id="error" *ngIf="error">{{ error }}</div>
  </div>



<!-- Add Course -->
<form class="mat-card" *ngIf="paramFlag == 1">
    <h2>Add Course</h2>

    <form (ngSubmit)="addCourse()">
          <div>
            <label for="name">Course Name*</label>
            <br>
            <input type="text" id="name" [(ngModel)]="name" required />
          </div>
          <div>
            <label for="fee">Fee*</label>
            <br>
            <input type="number" id="fee" [(ngModel)]="fee" required min="20" max="100" />
          </div>
          <div>
            <label for="duration">Duration in Days*</label>
            <br>
            <input type="number" id="duration" [(ngModel)]="duration" required />
          </div>
          <div>
            <label for="type">Course Type*</label>
            <br>
            <input type="text" id="type" [(ngModel)]="type" required />
          </div>
          <button id="addCourse" type="button">Add Course</button></form>
</form>

<div id="result" *ngIf="message">Course added successfully</div>
<div id="error" *ngIf="error">{{ error }}</div>
</div>

<!-- Update Course Fee -->
<div class="mat-card" *ngIf="paramFlag == 2">
<h2>Update Course Fee</h2>

<form (ngSubmit)="updateCourse()">
  <div>
    <label for="name">Course Name*</label>
    <br>
    <select id="name" [(ngModel)]="name" required>
      <option *ngFor="let course of courses" [value]="course.name">{{ course.name }}</option>
    </select>
  </div>
  <div>
    <label for="fee">Fee*</label>
    <br>
    <input type="number" id="fee" [(ngModel)]="fee" required />
  </div>
  <button type="submit">Update Course</button>
</form>

<div id="result" *ngIf="message">Course updated successfully</div>
<div id="error" *ngIf="error">{{ error }}</div>
</div>

<!-- View Course By Name -->
<div class="mat-card" *ngIf="paramFlag == 3">
<h2>View Course Details by Name</h2>

<form (ngSubmit)="viewCourseById()">
  <div>
    <label for="name">Course Name*</label>
    <br>
    <select id="name" [(ngModel)]="name" required>
      <option *ngFor="let course of courses" [value]="course.name">{{ course.name }}</option>
    </select>
  </div>
  <button type="submit">View Courses</button>
</form>

<table *ngIf="courses.length > 0">
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Fee</th>
    <th>Duration</th>
    <th>Type</th>
  </tr>
  </thead>
    <tbody>
    <tr *ngFor="let course of courses">
      <td>{{ course.id }}</td>
      <td>{{ course.name }}</td>
      <td>{{ course.fee }}</td>
      <td>{{ course.duration }}</td>
      <td>{{ course.type }}</td>
    </tr>
    </tbody>
</table>

<div id="error" *ngIf="error">{{ error }}</div>
</div>

<!-- Ratings -->
<div class="mat-card" *ngIf="paramFlag == 4">
<h2>Course Feedback Ratings</h2>

<form (ngSubmit)="viewRatings()">
  <div>
    <label for="name">Course Name*</label>
    <br>
    <select id="name" [(ngModel)]="name" required>
      <option *ngFor="let course of courses" [value]="course.name">{{ course.name }}</option>
    </select>
  </div>
  <button type="submit">View Ratings</button>
</form>

<table *ngIf="ratings.length > 0">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Rating</th>
  </tr>
  <tr *ngFor="let course of ratings">
    <td>{{ course.id }}</td>
    <td>{{ course.name }}</td>
    <td>{{ course.rating }}</td>
  </tr>
</table>

<div id="error" *ngIf="error">{{ error }}</div>
</div>
</mat-sidenav-content>
</mat-sidenav-container>
