/* You can add global styles to this file, and also import other style files */
@import url("../node_modules/bootstrap/dist/css/bootstrap.min.css")  ;

.home{
  color:blue;
  text-align:center;
  font-size: 20px;
  margin: top 180px; 
}
.example-spacer {
  flex: 1 0 auto;
  /* text-align: center; */
}
.example-container {
width: 150px;
height: 600px;
/* margin: 0px; */
/* border: 1px solid #555; */
}
.tp-container {
/* position: absolute; */
top: 0;
bottom: 0;
left: 0;
width: 1333px;
height: 600px;
right: 0;
background: rgb(219, 212, 212);
}

.example-sidenav-content {
display: flex;
height: 100%;
background-color: #e9e3df;
opacity: 0.9;
}
.mat-drawer {	 	  	  		    	   	 	   	 	
  background-color: #138D75 ;
  color: #fff;
  width: 150px;
}
.mat-elevation-z5{
  position:relative;
  z-index:2;
}

.mat-drawer-container {
  background-color: #f5f7fa;
  color: #341818;
}
h2{
margin-top:0px;
margin-left:0px;
margin-right:auto;
color:White;
}

/* body{
  background-color: #16A085 ;
} */

.flex-container {
    display: flex;
    /* width:500px; */
    margin-top:70px;
    margin-left:160px;
    margin-right:auto;
    height:250px;
    flex-wrap: nowrap;
    background-color: #687677;
  }
  
  .flex-container > img {	 	  	  		    	   	 	   	 	
    background-color: #687677;
    width: 225px;
    height:225px;
    margin: 10px;
    text-align: center;
    line-height: 100px;
  }
  body{
      background-color:#16A085 ;
  }
  p{
      text-align:center;
      font-style: italic;
      color:white;
      background-color: #16A085 ;
      font-size: 16px;
      font-weight:bold;
      font-family:Verdana;
      height:300px;
  }
  .p_div{
  
    height:300px;
    background-color: #16A085 ;
  }	 	  	  		    	   	 	   	 	

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
